/* frontend/src/App.css */
body {
  background-color: #0d1117;
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.App-header {
  text-align: center;
  padding: 10px;
  background-color: #161b22;
  border-bottom: 1px solid #30363d;
}